[*.cs]

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# CA2227: Свойства коллекций должны быть доступны только для чтения
dotnet_diagnostic.CA2227.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# CA1801: Проверьте неиспользуемые параметры
dotnet_diagnostic.CA1801.severity = none

# CA1062: Проверить аргументы или открытые методы
dotnet_diagnostic.CA1062.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# CA1305: Укажите IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
